In [1]:
%ls

 Volume in drive C is Windows
 Volume Serial Number is 5CBD-F8F3

 Directory of C:\Users\Tommy\Documents\Jupyter Notebooks\CPE 365

12/08/2016  04:05 PM    <DIR>          .
12/08/2016  04:05 PM    <DIR>          ..
12/08/2016  04:04 PM    <DIR>          .ipynb_checkpoints
12/07/2016  05:46 PM    <DIR>          data
12/08/2016  04:04 PM                72 Untitled.ipynb
               1 File(s)             72 bytes
               4 Dir(s)  448,966,406,144 bytes free

In [7]:
%ls data

 Volume in drive C is Windows
 Volume Serial Number is 5CBD-F8F3

 Directory of C:\Users\Tommy\Documents\Jupyter Notebooks\CPE 365\data

12/08/2016  04:07 PM    <DIR>          .
12/08/2016  04:07 PM    <DIR>          ..
12/07/2016  05:43 PM        11,130,825 attainment.csv
12/07/2016  05:43 PM            19,750 expenditure.csv
12/07/2016  05:43 PM            32,241 school_and_country_table.csv
12/07/2016  05:43 PM           268,231 timesData.csv
               4 File(s)     11,451,047 bytes
               2 Dir(s)  448,969,515,008 bytes free

In [2]:
import pandas as pd

In [14]:
?pd.read_csv

In [167]:
data = pd.read_csv('data/expenditure_orig.csv', engine='python')

In [49]:
data.head()

,country,institute_type,direct_expenditure_type,1995,2000,2005,2009,2010,2011
0,OECD Average,All Institutions,Public,4.9,4.9,5.0,5.4,5.4,5.3
1,Australia,All Institutions,Public,4.5,4.6,4.3,4.5,4.6,4.3
2,Austria,All Institutions,Public,5.3,5.4,5.2,5.7,5.6,5.5
3,Belgium,All Institutions,Public,5.0,5.1,5.8,6.4,6.4,6.4
4,Canada,All Institutions,Public,5.8,5.2,4.8,5.0,5.2,NaN

In [50]:
data['institute_type'].unique()

array(['All Institutions ', 'Elementary and Secondary Institutions ',
       'Higher Education Institutions '], dtype=object)

In [51]:
data['direct_expenditure_type'].unique()

array(['Public', 'Private', 'Total'], dtype=object)

In [168]:
data = data[data['institute_type']=='Higher Education Institutions ']
data = data[data['country']!='OECD Average']

In [178]:
for i in data.index:
    data.loc[i, 'country'] = str(data.loc[i, 'country']).strip()

In [169]:
data = data[['country', 'direct_expenditure_type', '2011']]

In [170]:
data=data.rename(columns = {'direct_expenditure_type':'type', '2011' : 'expenditure'})

In [180]:
data.to_csv('data/expenditure.csv', index=False)

In [5]:
%ls data

 Volume in drive C is Windows
 Volume Serial Number is 5CBD-F8F3

 Directory of C:\Users\Tommy\Documents\Jupyter Notebooks\CPE 365\data

12/08/2016  04:27 PM    <DIR>          .
12/08/2016  04:27 PM    <DIR>          ..
12/07/2016  05:43 PM        11,130,825 attainment_orig.csv
12/08/2016  04:26 PM             3,752 expenditure.csv
12/07/2016  05:43 PM            19,750 expenditure_orig.csv
12/07/2016  05:43 PM            32,241 school_and_country_table.csv
12/07/2016  05:43 PM           268,231 timesData.csv
               5 File(s)     11,454,799 bytes
               2 Dir(s)  448,935,952,384 bytes free

In [145]:
data = pd.read_csv('data/attainment_orig.csv', engine='python')

In [7]:
data.head()

,country_name,series_name,1985,1986,1987,1990,1991,1992,1993,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
0,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.33,NaN,NaN,0.44,NaN,NaN,NaN,0.57,...,0.86,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN
1,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1.03,NaN,NaN,1.26,NaN,NaN,NaN,1.54,...,2.18,NaN,NaN,NaN,NaN,2.64,NaN,NaN,NaN,NaN
2,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.83,NaN,NaN,0.95,NaN,NaN,NaN,1.26,...,1.01,NaN,NaN,NaN,NaN,2.45,NaN,NaN,NaN,NaN
3,Afghanistan,"Barro-Lee: Average years of primary schooling,...",2.34,NaN,NaN,2.22,NaN,NaN,NaN,2.37,...,2.26,NaN,NaN,NaN,NaN,3.55,NaN,NaN,NaN,NaN
4,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.54,NaN,NaN,0.92,NaN,NaN,NaN,0.94,...,2.00,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN

In [17]:
data['series_name'].unique()

array([ "UIS: Percentage of population age 25+ with at least a completed bachelor's or equivalent degree (ISCED 6 or higher). Gender Parity Index"], dtype=object)

We want the following:
       "UIS: Percentage of population age 25+ with a completed bachelor's or equivalent degree (ISCED 6). Female",
       "UIS: Percentage of population age 25+ with a completed bachelor's or equivalent degree (ISCED 6). Male",
       "UIS: Percentage of population age 25+ with a completed bachelor's or equivalent degree (ISCED 6). Total",
       "UIS: Percentage of population age 25+ with a completed master's or equivalent degree (ISCED 7). Female",
       "UIS: Percentage of population age 25+ with a completed master's or equivalent degree (ISCED 7). Male",
       "UIS: Percentage of population age 25+ with a completed master's or equivalent degree (ISCED 7). Total",
       'UIS: Percentage of population age 25+ with a doctoral degree or equivalent (ISCED 8). Female',
       'UIS: Percentage of population age 25+ with a doctoral degree or equivalent (ISCED 8). Male',
       'UIS: Percentage of population age 25+ with a doctoral degree or equivalent (ISCED 8). Total'

In [38]:
cond = [data['series_name'][i]  in ["UIS: Percentage of population age 25+ with a completed bachelor's or equivalent degree (ISCED 6). Female",
       "UIS: Percentage of population age 25+ with a completed bachelor's or equivalent degree (ISCED 6). Male",
       "UIS: Percentage of population age 25+ with a completed bachelor's or equivalent degree (ISCED 6). Total",
       "UIS: Percentage of population age 25+ with a completed master's or equivalent degree (ISCED 7). Female",
       "UIS: Percentage of population age 25+ with a completed master's or equivalent degree (ISCED 7). Male",
       "UIS: Percentage of population age 25+ with a completed master's or equivalent degree (ISCED 7). Total",
       "UIS: Percentage of population age 25+ with a doctoral degree or equivalent (ISCED 8). Female",
       "UIS: Percentage of population age 25+ with a doctoral degree or equivalent (ISCED 8). Male",
       "UIS: Percentage of population age 25+ with a doctoral degree or equivalent (ISCED 8). Total"] for i in range(len(data))]

In [146]:
data = data[cond][['country_name', 'series_name', '2013']]

In [82]:
?pd.Series

In [147]:
data['gender'] = pd.Series(index=data.index, dtype='object')
data['degree'] = pd.Series(index=data.index, dtype='object')

In [148]:
replace(data)

In [112]:

def replace (data):
    for i in data.index:
        if 'Female' in data.loc[i, 'series_name']:
            data.loc[i, 'gender'] = 'female'
        elif 'Male' in data.loc[i, 'series_name']:
            data.loc[i, 'gender'] = 'male'
        elif 'Total' in data.loc[i, 'series_name']:
            data.loc[i, 'gender'] = 'total'
            
        if 'bachelor' in data.loc[i, 'series_name']:
            data.loc[i, 'degree'] = 'bachelor'
        elif 'master' in data.loc[i, 'series_name']:
            data.loc[i, 'degree'] = 'master'
        elif 'doctoral' in data.loc[i, 'series_name']:
            data.loc[i, 'degree'] = 'doctoral'
    #data['category'] = ['bachelor' if data['series_name'][i].contains('bachelor') else 'master' if data['series_name'][i].contains('master')
     #                else 'doctoral' if data['series_name'][i].contains('doctoral') for i in range(len(data))]

In [143]:
data['2013'].count()

219

In [155]:
data = data.dropna()

In [154]:
data.dropna()['country_name'].unique()

array(['Australia', 'Azerbaijan', 'Belgium', 'Bulgaria', 'Colombia',
       'Cyprus', 'Czech Republic', 'Dominican Republic', 'Ecuador',
       'Estonia', 'Guatemala', 'Hungary', 'Kuwait', 'Latvia', 'Lithuania',
       'Luxembourg', 'Malta', 'Mexico', 'Moldova', 'Netherlands', 'Poland',
       'Qatar', 'Romania', 'Saudi Arabia', 'Serbia', 'Singapore',
       'Slovak Republic', 'St. Lucia', 'Sweden', 'Turkey', 'Uganda',
       'United Kingdom', 'United States', 'Uruguay', 'West Bank and Gaza'], dtype=object)

In [157]:
data = data[data.columns.drop('series_name')]

In [161]:
data = data.rename(columns = {'2013' : 'attainment', 'country_name' : 'country'})

In [166]:
data.to_csv('data/attainment.csv', index=False)

In [165]:
?pd.DataFrame.to_csv()

In [ ]:
data = pd.read_csv('', 'python')